
{%  load static %}

<html>
<head>
    <!-- jQuery -->
    <script type="text/javascript" src="{%  static 'js/vendor/jquery-1.10.min.js' %}"></script>

    <link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{%  static 'css/bootstrap-responsive.css' %}"/>
    <link rel="stylesheet" href="{%  static 'css/bootstrap-responsive.min.css' %}"/>
    <!-- Angular -->
    <script type="text/javascript" src="{%  static 'js/vendor/angular.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/vendor/angular-route.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/vendor/angular-resource.js' %}"></script>

    <!-- Apps -->
    <script type="text/javascript" src="{%  static 'js/app.js' %}"></script>

     <!-- Controllers -->
    <script type="text/javascript" src="{%  static 'js/controllers/index.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/controllers/chef_list.js' %}"></script>

</head>
<body>
    <h1>Chef Time</h1>
    <div ng-app="chef">
        <div ng-view></div>
   </div>
</body>
</html>