
<div class="container chef_list">

    <h3 class="span12">Chef List</h3>

    <div class="span6">
    <ul class="chef_name_list" ng-repeat="chef in chefs" >
        <li>
            <a href=""
               ng-click="setCurrentChef(chef.chefify_user.email)"><p class="print">{{ chef.chefify_user.first_name }} {{ chef.chefify_user.last_name }} of {{ chef.restaurant }} </p></a>
        </li>
    </ul>
    </div>

    <div ng-hide="currentChef.chefify_user.email">
        <h3>Click the link and pick your chef</h3>
    </div>

    <div class="span5" ng-show="currentChef.chefify_user.email">
        <img src="../static/image/Chef_{{ currentChef.chefify_user.id }}.jpeg" />
        <ul id="record_data_chef">
            <li>Name: {{ currentChef.chefify_user.first_name }} {{ currentChef.chefify_user.last_name }}</li>
            <li>Email: {{ currentChef.chefify_user.email }} </li>
            <li>Email: {{ currentChef.chefify_user.email }} </li>
            <li>Menu: {{ currentChef.menu }} </li>
            <li>Price Minimum: {{ currentChef.price_minimum }} </li>
        </ul>

        <button type="button" class="btn btn-lg btn-danger" data-content-template="/static/views/modal.html"
                bs-modal="modal">
            Reservation
        </button>

    </div>

</div>