<div class="container">

<h1 class="span12">Chef List</h1>

<ul ng-repeat="chef in chefs" class="span6">
    <li>
        <a href="" ng-click="setCurrentChef(chef.chefify_user.email)">{{ chef.chefify_user.first_name }} {{ chef.chefify_user.last_name }} {{ chef.price_minimum }}  {{ chef.chefify_user.email }} </a>
    </li>
</ul>



    <ul>
        <li>Name: {{ currentChef.chefify_user.first_name}} {{ currentChef.chefify_user.last_name }}</li>
        <li>Email:  {{ currentChef.chefify_user.email }} </li>
    </ul>
    <p>{{ currentChef | json }}</p>

    <div class="span5" ng-controller="ChefDetailCtrl">
        <p></p>
    </div>
 <! create form

</div>