<div class="homepage container">

    <div>
        <h1 class="text-center">Chef Night</h1>
        <h3 class="text-center">Input any thing your want</h3>
    </div>

    <div class="search">
        <div class="searchBar">
            <div class="controls controls-row" ng-model="search">
                <input type="text" class="input-xlarge" placeholder="Search for Chefs by Name"
                       ng-model="search.first_name"/>
                <input type="text" class="input-xlarge" placeholder="Search for Chefs by Cuisine"
                       ng-model="search.cuisine"/>
            </div>
        </div>


        <div class="searchResult" ng-show="search">

            <ul ng-repeat="chef in chefs | filter:search.first_name" ng-show="search.first_name">
                <li>
                    <a href=""
                       ng-click="setCurrentChef(chef.chefify_user.email)">{{ chef.chefify_user.first_name }} {{ chef.chefify_user.last_name }} </a>
                </li>
            </ul>

            <ul ng-repeat="chef in chefs | filter:search.cuisine" class="span6" ng-show="search.cuisine">
                <li>
                    <a id="chef_search_results" href=""
                       ng-click="setCurrentChef(chef.chefify_user.email)">{{ chef.chefify_user.first_name }} {{ chef.chefify_user.last_name }} </a>
                </li>
            </ul>

        </div>
    </div>

</div>