
<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.9642873880016!2d-122.40164540000002!3d37.79087669999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858089e1c87065%3A0xead8e2a5febd2279!2s225+Bush+St!5e0!3m2!1sen!2sus!4v1395869909525" width="600" height="450" frameborder="0" style="border:0"></iframe>
    <div class="span3 appointment_info">
        <h3>Appointments Info</h3>
        <ul>
            <li>Customer Name: user1</li>
            <li>Date: 2/23/14 8:00 AM</li>
            <li>Number of Guests: 20</li>
            <li>Event Type: Dinner Party</li>
            <li>Status: Accepted</li>
            <li>Email: <a href="mailto:test@gmail.com">test@gmail.com</a></li>


        </ul>
    </div>
</div>
