<div>
    <h1>Add New Location</h1>

    <form ng-submit="submitForm()">
         <div>
            start_time: <input type="text" ng-model="location.start_time">
        </div>

        <div>
            end_time: <input type="text" ng-model="location.end_time">
        </div>

          <div>
            number_of_guests: <input type="text" ng-model="location.number_of_guests">
        </div>

           <div>
           has_menu: <input type="text" ng-model="location.has_menu">
        </div>


        <input type="submit" value="Add Reservation">

    </form>


</div>