<div>
    <h1>Make a Reservation</h1>

    <form ng-submit="submitForm()">

        <div>

              <div class="form-group">
                <label class="control-label"><i class="fa fa-calendar"></i>Start Datetime picker</label><br>
                <div class="form-group">
                  <input type="text" size="10" class="form-control" ng-model="appointment.start_time" data-autoclose="1" placeholder="Date" bs-datepicker>
                </div>
                <div class="form-group">
                  <input type="text" size="8" class="form-control" ng-model="appointment.start_time" data-autoclose="1" placeholder="Time" bs-timepicker>
                </div>
              </div>

        </div>
        <div>
            <div class="form-group">
                <label class="control-label"><i class="fa fa-calendar"></i>End Datetime picker</label><br>
                <div class="form-group">
                  <input type="text" size="10" class="form-control" ng-model="appointment.end_time" data-autoclose="1" placeholder="Date" bs-datepicker>
                </div>
                <div class="form-group">
                  <input type="text" size="8" class="form-control" ng-model="appointment.end_time" data-autoclose="1" placeholder="Time" bs-timepicker>
                </div>
            </div>
        </div>

         <div>
            number_of_guests: <input type="text" ng-model="appointment.number_of_guests">
        </div>

        <div>
           has_menu: <input type="text" ng-model="appointment.has_menu">
        </div>

         <div>
           event_type: <select ng-model="appointment.event_type"  ng-options="event_type.resource_uri as event_type.type for event_type in event_types"></select>
        </div>


        <input type="submit" value="Add Reservation">

    </form>


</div>