#nav-right  {
    float: right;
    margin-left: 20px;
}


.controls input
{
    height: 30px;
}

.myAppointment h3 {
    color: blueviolet;
}


.chef_name_list {
    list-style-type: none;
}


ul.chef_name_list {

}

ul.chef_name_list li {
    font-size: 20px;
}

.modalForm {
    background-color: #00FFFF;
}

.modalForm h2 {
    color: #8A2BE2;
}

h3.account_setting {
    font-family: Arial, Helvetica, sans-serif;
    color: #000099;
}

#home_search {
    z-index: 1000000;
}

#home_search_results {

}

#record_data_chef {
    list-style-type: none;
}

#record_data_chef li{
    font-size: 20px;
    padding: 10px;
}